/* ================================================================================== */
/* ALL-PAGE STYLES */

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1160px;
}

.bg-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 170px;
  height: 64px;
  padding: 16px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  background-color: #18cfab;
  text-transform: uppercase;
  transition: 0.2s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.btn:hover {
  box-shadow: 0px -3px 0px 0px rgba(255, 255, 255, 1);
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  font-size: 36px;
  color: #4e4e4e;
  margin: 98px auto 66px;
}

.section-title::before,
.section-title::after {
  order: 1;
  display: block;
  content: "";
  top: 20px;
  width: 90px;
  height: 1px;
  background-color: #18cfab;
}

.section-title::before {
  margin-top: 24px;
  transform: translateX(-6px);
  -webkit-transform: translateX(-6px);
  -moz-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  -o-transform: translateX(-6px);
}

.section-title::after {
  transform: translateX(6px);
  -webkit-transform: translateX(6px);
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -o-transform: translateX(6px);
}

.menu {
  display: flex;
  height: 76px;
}

.menu-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717171;
  border: 1px solid #dedede;
  position: relative;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.menu-item:hover {
  border: 1px solid #18cfab;
  cursor: pointer;
}

.active {
  border: 1px solid #18cfab;
  background-color: #18cfab;
  color: #ffffff;
}

.active::after {
  position: absolute;
  top: 75px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #18cfab transparent transparent transparent;
}

/* Loader styles */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ------------------- */

/* ================================================================================== */
/* HEADER STYLES */

/* --- Header navigation --- */

.header {
  height: 1012px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-header {
  background-image: url(../images/backgrounds/bg-header.jpg);
}

.header-navbar {
  width: 100%;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 120px;
}

.header-nav-logo {
  display: flex;
  align-items: center;
}

.header-nav-logo-name {
  font-size: 32px;
  color: #ffffff;
}

.header-nav-logo-name > span {
  font-weight: 700;
  color: #18cfab;
}

.header-nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
}

.header-nav-menu-item {
  display: flex;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header-nav-menu-item-link {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header-nav-menu-item-link:hover {
  color: #18cfab;
}

.header-nav-menu-item:hover {
  border-bottom: 2px solid #18cfab;
}

.search-icon:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(79%) saturate(434%)
    hue-rotate(117deg) brightness(91%) contrast(93%);
}

/* --- Header content --- */
.header-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-content-h2 {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-content-h2 > span {
  color: #18cfab;
}

.header-content-h1 {
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 12px;
}
.header-content-p {
  font-size: 34px;
  color: #d4d4d4;
}

.header-content-buttons {
  display: flex;
  gap: 26px;
  margin: 142px;
}

.btn-explore {
  background-color: #18cfab;
}
.btn-purchase {
  background-color: #00cbf6;
}

/* ================================================================================== */
/* FEATURES SECTION STYLES */

.features {
  margin-top: 8px;
  height: 360px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.features-item:nth-child(odd) {
  background-color: #1c2a33;
  color: #18cfab;
}

.features-item:nth-child(even) {
  background-color: #18cfab;
  color: #ffffff;
}

/* ================================================================================== */
/* OUR SERVICES SECTION STYLES */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 90px;
}

.services-description {
  display: flex;
  gap: 14px;
}

.services-description-img {
  object-fit: cover;
  width: 194px;
  height: 140px;
}
.services-description-p {
  flex-grow: 1;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.hidden {
  display: none;
}

/* ================================================================================== */
/* BUY SECTION STYLES */

.buy {
  height: 476px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-buy {
  background-image: url(../images/backgrounds/bg-buy.jpg);
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.buy-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.buy-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #18cfab;
}

.buy-p {
  color: #d8d8d8;
}

.btn-buy {
  margin-top: 50px;
  background-color: #18cfab;
}

/* ================================================================================== */
/* WORK SECTION STYLES */

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9edef;
  padding-bottom: 100px;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-menu {
  width: 582px;
  margin-bottom: 82px;
}

.work-menu-item:first-child {
  flex-grow: 3;
}

.work-menu-item:not(.active):hover {
  color: #18cfab;
}

.work-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  width: 25%;
  height: 210px;
}

.work-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-card-alt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.work-card-btns {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.work-card-btn:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7443%)
    hue-rotate(148deg) brightness(103%) contrast(103%);
}

.work-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-card-title {
  font-weight: 700;
  color: #18cfab;
  text-transform: uppercase;
}

.work-card-p {
  font-weight: 300;
  font-size: 12;
  color: #8a8a8a;
}

.work-card:hover {
  border-top: 2px solid #18cfab;
}

.work-card:hover .work-card-img {
  display: none;
}

.work-card:not(:hover) .work-card-alt {
  display: none;
}

.btn-load {
  margin-top: 70px;
}

.btn-load::before {
  content: url("../images/icons/plus.svg");
}

/* ================================================================================== */
/* NEWS SECTION STYLES */

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}
.news-card {
  height: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.news-card-link:hover .news-card-date {
  background-color: #18cfab;
}
.news-card-link:hover .news-card-title {
  color: #18cfab;
}

.news-card-date {
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 64px;
  color: #ffffff;
  background-color: #203e38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-card-img {
  max-height: 208px;
  max-width: 264px;
  object-fit: cover;
}

.news-card-desc {
  padding: 6px 16px;
}
.news-card-title {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  color: #717171;
  margin: 8px auto;
}

.news-card-meta {
  display: flex;
}

.news-card-author,
.news-card-comments {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
}

.news-card-author::after {
  content: "|";
  margin: 0 8px;
}

/* ================================================================================== */
/* PEOPLE SECTION STYLES */
.people {
  display: flex;

  justify-content: center;
}
.bg-people {
  background-image: url(../images/backgrounds/bg-people.jpg);
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: multiply;
}

.people-content {
  display: flex;
  flex-direction: column;
}

.people-title {
  color: #ffffff;
}

.people-p {
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.people-p::before {
  content: url(../images/icons/quotes.svg);
  margin-bottom: 36px;
}

/* ================================================================================== */
/* FOOTER STYLES */
.footer {
  height: 120px;
  background-color: #22353f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  font-weight: 300;
  font-size: 14px;
  color: #aeaeae;
}

.footer-copyright > a {
  color: #18cfab;
}
